[DEFAULT]
# Do not leave the ClientSecret in the config file
# The API key only needs to be Service Principal Read-Only
ClientID:<put clientID here>
ClientSecret:<put clientSecret here or leave blank to enter manually>

[REPORT]
ReportName:<put report name here>
ReportFilePath:<put file path here>

[EXTRA_FIELDS]
# 0 is off, 1 is ON
# Include MAC addresses
MAC_Address:1
# Include components versions
Versions:0
# Include Windows build version
Windows_Build_Version:1
# Include cloud provider and instanceID
Cloud_Servers:1
# Include alerts
Include_Alerts:1
# Include full service status - Used for support
Full_Services_List:0
# Split Sophos Central Enterprise Dashboard reports by sub estate
Split_EDB_Reports:1
# Include sub estate ID
Include_Sub_EstateID:0
# Report only contains machines with issues
List_Machines_With_Issues_Only:0
# Show the menu to Health Check individual sub estates
Show_sse_menu:1
# Report only contains machines in the group defined Leave blank for all machines and comma separated for multiple groups (case sensitive)
List_Machines_In_Group:
# Show AAP Status (Beta)
Show_AAP_Status = 0
