[DEFAULT]
# Do not leave the ClientSecret in the config file
ClientID:<put clientID here>
ClientSecret:<put clientSecret here or leave blank to enter manually>

[REPORT]
ReportName:<put report name here>
ReportFilePath:<put file path here>

[EXTRA_FIELDS]
# 0 is off, 1 is ON
MAC_Address:0
Versions:0
Windows_Build_Version:1
Cloud_Servers:1
Include_Alerts:1
Full_Services_List:0
SplitEDBReports:0
IncludeSubEstateID:0
